@import url('https://fonts.googleapis.com/css?family=Assistant|Roboto:900');

.title {
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.5em;
}

.content, .date, .tags-bar, .prompt, #search-notification {
  font-family: 'Assistant', 'sans-serif';
}

#search-notification {
  padding: 1em 1em 1em 1em;
  background-color: rgb(198, 77, 115);
  color: white;
  bottom: 10px;
  position: fixed;
  display: none;
  text-align: center;
}

#search-container {
  display: flex;
  justify-content: center;
}

/* Red Colors */
a {
  color: rgb(135, 32, 64);
}
a:hover {
  color: rgb(198, 77, 115);
}

.tag-item {
  cursor: pointer;
  color: gray;
}
.tag-item:hover {
  color: lightgray;
}

/* Search bar */
.search-bar {
  padding-bottom: 1em;
}

.search-button, .hide-all-button {
  height: 38px;
  color: white;
  background-color: rgb(135, 32, 64);
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  vertical-align: top;
}

.search-button {
  width: 10%;
  border-radius: 10px;
  margin-left: 10px;
}

.search-button:hover, .hide-all-button:hover {
  background-color: rgb(198, 77, 115);
}

.hide-all-button {
  margin-right: 10px;
  border-radius: 10px;
  font-weight: bold;
  float: right;
  width: 15%;
}

.prompt {
  width: 60%;
}

.minimize-button {
  float: right;
  font-size: 2em;
  padding: 0px;
  cursor: pointer;
  color: rgb(135, 32, 64);
  position: relative;
  top: 5px;
}

.content {
  font-size: 1.15em;
}

.post {
  margin-bottom: 2em;
  padding: 1em 1em 1em 1em;
  border: 2px solid;
  border-color: rgb(221, 221, 221);
}

.post > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid;
    border-color: inherit;
    padding: 0;
}

/* Center the posts column */
.grid {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.container {
  margin: auto;
}

/* Phone width */
.container {
  width: 100%;
}

/* For tablet width */
@media only screen and (min-width: 768px) {
  .container {
    width: 75%;
  }
}

/* For normal computer width */
@media only screen and (min-width: 992px) {
  .container {
    width: 60%;
  }
}
