@import url('https://fonts.googleapis.com/css?family=Assistant|Roboto:900');

.title {
  font-family: 'Roboto', 'sans-serif';
  font-size: 1.5em;
}

.content, .date, .tags-bar, .prompt {
  font-family: 'Assistant', 'sans-serif';
}

/* Red Colors */
a {
  color: rgb(135, 32, 64);
}

a:hover {
  color: rgb(198, 77, 115);
}

/* Search bar */
.search-bar {
  padding-bottom: 1em;
}

.search-button {
  float: right;

  display: inline-block;
  height: 38px;
  width: 15%;

  color: white;

  background-color: rgb(135, 32, 64);
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.search-button:hover {
  background-color: rgb(198, 77, 115);
}

.prompt {
  width: 75%;
}

.minimize-button {
  float: right;
  font-size: 2em;
  padding: 0px;
  cursor: pointer;
  color: rgb(135, 32, 64);
  position: relative;
  top: 5px;
}

.content {
  font-size: 1.15em;
}

.post {
  margin-bottom: 2em;
  padding: 1em 1em 1em 1em;
  border: 2px solid;
  border-color: rgb(221, 221, 221);
}

.post > hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid;
    border-color: inherit;
    padding: 0;
}
