/* Center the posts column */
.grid {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.container {
  margin: auto;
}

/* Phone width */
.container {
  width: 100%;
}

/* For tablet width */
@media only screen and (min-width: 768px) {
  .container {
    width: 75%;
  }
}

/* For normal computer width */
@media only screen and (min-width: 992px) {
  .container {
    width: 60%;
  }
}
